# Sepolia RPC (Infura 또는 Alchemy에서 무료로 발급)
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/{your_infura_project_id}

# 관리자 지갑 (ContribRegistry 배포한 지갑)
ADMIN_WALLET_ADDRESS=
ADMIN_PRIVATE_KEY=

# 컨트랙트 주소
PHY_TOKEN_ADDRESS=
CONTRIB_NFT_ADDRESS=
CONTRIB_REGISTRY_ADDRESS=
